<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Maxauto Motor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="vehiculos">Vehículos</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/sobre-nosotros']" class="nav-link" href="sobre-nosotros">Sobre nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<div *ngIf="!identity">
  <h1>Acceso restringido. Debe iniciar sesión primero</h1>
</div>
<div *ngIf="identity" class="col-lg-6">
    <h1>Configuración de información</h1>
    <div *ngIf="alertRegister" class="alert alert-warning">
      {{ alertRegister }}
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" action="" class="col-md-10" enctype="multipart/form-data">
      <p>
        <label for="sobreNosotros">Sobre Nosotros</label>
        <input type="text" class="form-control" #sobreNosotros="ngModel" name="sobreNosotros" [(ngModel)]="config.sobreNosotros" required>
        <span *ngIf="!sobreNosotros.valid && sobreNosotros.touched">Este campo es obligatorio</span>
      </p>
      <p>
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" #direccion="ngModel" name="direccion" [(ngModel)]="config.direccion" required>
        <span *ngIf="!direccion.valid && direccion.touched">La dirección es obligatoria</span>
      </p>
      <p>
        <label for="email">Email de contacto</label>
        <input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="config.email" required>
        <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
      </p>
      <p>
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" #telefono="ngModel" name="telefono" [(ngModel)]="config.telefono" required>
        <span *ngIf="!telefono.valid && telefono.touched">El teléfono es obligatorio</span>
      </p>
      <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
      </p>
    </form>
  </div>