<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Maxauto Motor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="vehiculos">Vehículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ofertas-del-mes">Ofertas del mes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="taller">Taller</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/sobre-nosotros']" class="nav-link" href="sobre-nosotros">Sobre nosotros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

    <div class="row">
      <!-- /.col-lg-3 -->
      <br>

      <div class="col-md-3">
        <br>
        <div class="row">
          <img class="d-block" src="assets/img/marcas/alfaromeo.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/bmw.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/chevrolet.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/citroen.gif" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/fiat.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/ford.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/honda.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/hyundai.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/jaguar.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/kia.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/lancia.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/landrover.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/mazda.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/mercedes.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/mitsubishi.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/nissan.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/opel.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/peugeot.gif" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/renault.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/saab.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/seat.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/skoda.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/suzuki.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/toyota.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/volkswagen.jpg" alt="Financiación hasta el 100%">
          <img class="d-block" src="assets/img/marcas/volvo.jpg" alt="Financiación hasta el 100%">  
        </div> 
      </div>

      <div class="central col-lg-8">
        <br>
        <div>
          <img class="d-block img-fluid" src="assets/img/logo.jpeg" alt="Maxuato Motor">
        </div>
  
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="assets/img/coche1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="assets/img/coche2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="assets/img/coche3.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  
        <div class="row">
            
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.col-lg-9 -->

      <div class="col-md-28">
        <br>
        <div class="row">
          <img class="d-block" src="assets/img/financiacion.png" alt="Financiación hasta el 100%">
        </div>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
