<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Maxauto Motor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="vehiculos">Vehículos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ofertas-del-mes">Ofertas del mes</a>
        </li>
          <li class="nav-item active">
            <a [routerLink]="['/sobre-nosotros']" class="nav-link" href="sobre-nosotros">Sobre nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
    <div>
        <img class="d-block img-fluid" src="assets/img/logo.jpeg" alt="Maxuato Motor">
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h2 class="mt-4">Sobre nosotros</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta
                quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo,
                maiores!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni
                in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="https://www.milanuncios.com/anuncios/693447775.htm">Nosotros en Milanuncios &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2 class="mt-4">Contacto</h2>
            <address>
                <strong>Maxauto Motor</strong>
                <br>Sevilla
                <br>Sevilla
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                693447775
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">borja@gmail.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->