<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Maxauto Motor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="vehiculos">Vehículos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ofertas-del-mes">Ofertas del mes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="taller">Taller</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/sobre-nosotros']" class="nav-link" href="sobre-nosotros">Sobre nosotros</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="row">
        <!-- /.col-lg-3 -->

        <div class="central col-lg-9">
            <br>
            <div>
                <a href="http://ansumotor.es/"><img class="d-block img-fluid" src="assets/img/ansu.png" alt="Maxuato Motor"></a>
            </div>

            <br>

            <h2>Por qué elegirnos:</h2>
            <p><b>1. CONFIANZA</b></p>
            <p>“Cuando la confianza es alta, la comunicación es fácil, instantánea y efectiva.”</p>
            <p><i>(Stephen R. Covey)</i></p>

            <p><b>2. SERVICIO DE CALIDAD</b></p>
            <p>“Estar a la par en precio y calidad sólo te mete al juego, el servicio es lo que te hace ganarlo”</p>
            <p><i>(Tony Alessandra)</i></p>

            <p><b>3. GARANTÍA</b></p>
            <p>“La calidad es nuestra mejor garantía de la fidelidad de los clientes y el unico camino para el crecimiento.”</p>
            <p><i>(Jack Welch)</i></p>

            <p><b>4. TRATO INMEJORABLE</b></p>
            <p>“Al cliente hay que atenderle bien y rápido. Un cliente bien atendido pasa a ser suscriptor de tu empresa”</p>
            <p><i>(Ricardo Lop)</i></p>

            <br>

            <h2>Cómo llegar:</h2>
            <p>Polígono Ind. San Nicolás, Calle 8, Nave 20, 41500</p>
            <p>Alcalá de Guadaira (Sevilla), SPAIN</p>
            <p><a href="tel:+34619958095">619 958 095</a> - <a href="tel:+34679047397">679 047 397</a></p>
            <p><a href="mailto:ansu.motor@gmail.com">ansu.motor@gmail.com</a> - <a href="mailto:info@ansumotor.es">info@ansumotor.es</a></p>

            <br>

            <h2>Horarios</h2>
            <p>Lunes a Viernes (Mañanas) ............. 8:00 - 14:00</p>
            <p>Lunes a Viernes (Tardes) ............ 16:00 - 19:00</p>
            <p>Sábado ................................ 9:00 - 13:00</p>
            <p>Domingo ............................... Cerrado</p>

            <br>

            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d8824.951739790069!2d-5.906725063713295!3d37.376777827852095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sPoligono+industrial+bansur!5e0!3m2!1ses!2ses!4v1539534019379"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="row">

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->