/* You can add global styles to this file, and also import other style files */
p, h2, address, h1, td, h3, li, del {
    color:white;
}

p.card-text {
    color: black;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 8%;
    background-color: #414040;
}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}